---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

h1, h2, h3, h4, h5 {
  font-weight: 600 !important;
  letter-spacing: -.009em !important;
  font-family: "SF Pro Display","Helvetica Neue","Helvetica","Arial",sans-serif !important;
}

body {
  font-size: 18px !important;
  line-height: 1.47059 !important;
  font-weight: 400 !important;
  letter-spacing: -.022em !important;
  font-family: "SF Pro Text","Helvetica Neue","Helvetica","Arial",sans-serif !important;
  background-color: #fff !important;
  color: #1d1d1f !important;
  font-style: normal !important;
  min-height: 98vh !important;
}

wrapper {
  min-height:98vh !important;
}

.pub-year, .act-year {
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  padding-left: 15px;
  border-left-color: #1b809e;
  margin-bottom: 2em;
}

.act-year {
  border-left-color: #28a745;
}

.act-year>span, .pub-year>span {
font-size: 1.6em;
margin-top: -32px;
padding-bottom: 5px;
display: block;
width: 3em;
padding-left: 10px;
background: white;
padding-top: inherit;
}

.project {
padding: 5px;
margin: 10px 0;
border-left: 1px solid;
border-left-width: 5px;
border-radius: 3px;
padding-left: 15px;
border-left-color: #f0ad4e;
margin-bottom: 2em;
}

.course {
padding: 5px;
margin: 10px 0;
border-left: 1px solid;
border-left-width: 5px;
border-radius: 3px;
padding-left: 15px;
border-left-color: #662d91;
margin-bottom: 2em;
}

.course-past {
  padding: 5px;
  margin: 10px 0;
  border-left: 1px solid;
  border-left-width: 5px;
  border-radius: 3px;
  padding-left: 15px;
  border-left-color: #662d918a;
  margin-bottom: 2em;
}

.act-year div, .pub-year div {
color: grey;
margin-bottom: 5px;
}

.act-year div, .pub-year div {
color: black;
}

.past-act {
color: grey;
}

.course-past a, .past-act a {
  color: #007bffb8 !important;
}


.pub-year div span, .act-year div span {
color: black;
font-weight: 400;
}

.logo {
  width: 140px;
  height: 197px;
  display: inline-block;
  background-size: cover;
  -moz-border-radius: 50%;
  /* border: 2px solid #F1EED9; */
  background-position-x: -18px;
  margin-top: 30px;
  background-position-y: -1px;
}

.bib {
  background-image: url("/assets/images/layout/cite.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-bottom: -4px;
}

.paper {
  background-image: url("/assets/images/layout/pdf.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 15px;
  height: 21px;
  display: inline-block;
  margin-bottom: -4px;
}

.video {
  background-image: url("/assets/images/layout/video.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin-bottom: -4px;
}

.source {
  background-image: url("/assets/images/layout/code.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-bottom: -5px;
  margin-left: -2px;
}

.demo {
  background-image: url("/assets/images/layout/demo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 22px;
  height: 20px;
  display: inline-block;
  margin-bottom: -5px;
  margin-left: -2px;
}

.link {
  background-image: url("/assets/images/layout/link.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 17px;
  height: 21px;
  display: inline-block;
  margin-bottom: -6px;
  margin-left: 2px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap/bootstrap";
@import "all.min.css"
