<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="keywords" content="Saverio Giallorenzo
	Jolie
	Aiocj
	Choral
	Adaptation
	Choreography
	Choreographic Programming
	Choreographies
	Unibo
	Site
	Service 
	Oriented 
	Computing
	Session Types
	Service-Oriented
	Architectures
	Distributed Systems
	">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}Saverio Giallorenzo - Assistant Professor @DISI UniBo{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

		<link rel="stylesheet" href="/assets/css/main.css">
		<link rel="preload" as="style" href="/assets/css/all.min.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <script async src="/assets/js/jquery-3.5.1.min.js"></script>
  <script async src="/assets/js/all.min.js"></script>
</head>