{% capture pdf_icon %}<i style="color:#e83e8c;" class="fa-lg fas fa-file-pdf"></i>{% endcapture %}
{% capture bib_icon %}<i style="color:#007bff;" class="fa-lg fas fa-quote-right"></i>{% endcapture %}
{% capture abstract_icon %}<i style="color:#fd7e14;" class="fa-lg fas fa-align-left"></i>{% endcapture %}
{% capture plus_icon %}<i style="color:#28a745;" class="fa-lg fas fa-plus"></i>{% endcapture %}
{% capture source_icon %}<i style="color:#6c757d;" class="fa-lg fas fa-file-code"></i>{% endcapture %}
{% capture video_icon %}<i style="color:#17a2b8;" class="fa-lg far fa-file-video"></i>{% endcapture %}
{% capture link_icon %}<i class="fa-lg fas fa-link"></i>{% endcapture %}