<footer class="col-12 pt-4 border-top small text-center">
  <div class="row">
    <div class="col-md-4 col-12 pb-3 pb-sm-0">
      <div class="row">
        <div class="col-6 text-right">
          <div class="col-12">GitHub</div>
          <div class="col-12">Scholar</div>
        </div>
        <div class="col-6 text-left">
            <div class="col-12">DBLP</div>
            <div class="col-12">Twitter</div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12 pb-3 pb-sm-0">
      <div class="row">
        <div class="col">Dipartimento di Informatica - Scienza e Ingegneria</div>
      </div><div class="row">
        <div class="col">Mura Anteo Zamboni 7, 40126, Bologna, Italy</div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      saverio.giallorenzo[at]gmail.com
    </div>
  </div>
  <div class="row pt-4 pb-4">
    <div style="font-size:xx-small" class="col-12 text-muted">
      This website uses only proprietary and third party technical cookies to ensure the correct operation of its web pages and to improve its services. By navigating the website, you consent to the use of cookies. To learn more, or deny your consent, consult the privacy policy. Please, find more information about your rights on your personal data at the data protection page at UniBo.
    </div>
  </div>
</footer>