<div class="align-items-center p-3 px-md-4 mb-3 bg-white border-bottom row">
    <div class="col-12 col-sm font-weight-normal small text-justify">
      <div class="d-inline d-sm-block">The academic site of <strong>Saverio Giallorenzo</strong></div>
      <span class="d-sm-none">•</span>
      <div class="d-inline d-sm-block">Assistant Professor at Università di Bologna</div>
      <span class="d-sm-none">•</span>
      <div class="d-inline d-sm-block">Department of Computer Science and Engineering</div>
    </div>
    <nav class="col row d-flex justify-content-end mr-auto">
      <a class="p-2 text-dark" href="/">Home</a>
      {% for item in site.menu_items %}
      <a class="p-2 text-dark" href="{{ item.link }}">{{ item.name }}</a>
      {% endfor %}
    </nav>
  </div>
</div>