.pub-year, .act-year {
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    padding-left: 15px;
    border-left-color: #1b809e;
    margin-bottom: 2em;
}

.act-year {
    border-left-color: #a7a7a7;
}

.act-year>span, .pub-year>span {
	font-size: 1.6em;
	margin-top: -25px;
	padding-bottom: 5px;
	display: block;
	width: 3em;
	padding-left: 10px;
	background: white;
  padding-top: inherit;
}

.project {
  padding: 5px;
  margin: 10px 0;
  border-left: 1px solid;
  border-left-width: 5px;
  border-radius: 3px;
  padding-left: 15px;
  border-left-color: #f0ad4e;
  margin-bottom: 2em;
}
    
.act-year div, .pub-year div {
  color: grey;
  margin-bottom: 5px;
}

.act-year div, .pub-year div {
  color: black;
}

.past-act {
  color: grey;
}

.pub-year div span, .act-year div span {
	color: black;
	font-weight: 400;
}